<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container">
            <form th:object="${camper}" action="/camper/addSubmit" th:action="@{/camper/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${camper.id}"</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" th:field="${camper.firstName}"/>
                                <ul th:if="${#fields.hasErrors('firstName')}">
                                    <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" th:field="${camper.lastName}"/>
                                <ul th:if="${#fields.hasErrors('lastName')}">
                                    <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td><input type="text" th:field="${camper.dob}"/>
                                <ul th:if="${#fields.hasErrors('dob')}">
                                    <li class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>

                        <tr>
                            <th>Camper Type</th>
                            <td>

                                <select th:field="${camper.camperType}">
                                    <option th:each="current :${session.camperTypes}"
                                            th:value="${current.id}"
                                            th:text="${current.description}"></option>
                                </select>

                                <br/>
                            </td>
                        </tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>